<!-- app/views/home/index.html.erb -->
<h1>Welcome</h1>

<% if user_signed_in? %>
    <p>Welcome <%= current_user.email %></p>
    <%= link_to 'Sign_out', destroy_user_session_path, method: :delete%>
<% else %>
    <%= link_to 'Sign in', new_user_session_path %> |
    <%= link_to 'Sign up', new_user_registration_path %>
<% end %>