<!-- app/views/home/index.html.erb -->
<div class="home-content">
  <h1>Bienvenido</h1>

  <% if user_signed_in? %>
    <p>¡Hola, <%= current_user.email %>!</p>
    <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
  <% else %>
    <%= link_to 'Iniciar Sesión', new_user_session_path, class: "btn btn-secondary" %> |
    <%= link_to 'Registrarse', new_user_registration_path, class: "btn btn-primary" %>
  <% end %>
</div>
